<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:wp-bootstrap-blocks/container -->
<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Oops! That page can’t be found.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">It looks like nothing was found at this location. Try one of the links in the navigation above or a search below.</p>
<!-- /wp:paragraph -->

<!-- wp:tb-theme/search-styled /-->
<!-- /wp:wp-bootstrap-blocks/container -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->